.contactContainer{
    // background-color: blue;

    h3{
        text-align: center;
    }

    
    .contact{
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        gap: 30px;
        padding: 15px 0;

       svg{
            font-size: 27px;
            margin: 4px;
       }

       h4{
            margin: 0 0 12px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
       }


        h5{
            font-size: 16px;
            margin: 5px;
        }



    }
}