---
import Github from "../../assets/icons/DeviconGithub.astro";
import Linkedin from "../../assets/icons/BiLinkedin.astro";
---

<div class="flex flex-col items-center justify-center" id="about">
  <h1 class="text-3xl font-bold">Agustín José Terán</h1>
  <h2>Full Stack Developer</h2>
  {/* https://github.com/AgustinTeran */}
  <div class="redes-cv">  
      <a href="https://www.linkedin.com/in/agust%C3%ADn-jos%C3%A9-ter%C3%A1n-41aa64244/" target={"_blank"}><Linkedin class="h-12 w-12"/></a>
      <!-- <a href={CV} download>Descargar CV</a> -->
      <a href="https://github.com/AgustinTeran" target={"_blank"}><Github class="h-12 w-12"/></a>
  </div>
  <div class="section sobreMi">
      <h3>Sobre Mí</h3>
      <p>
      Soy Full Stack Web Developer egresado del bootcamp Soy Henry. Cuento con 1 año de experiencia como desarrollador web. Siempre con ganas de aprender y mejorar.

      </p>
  </div>

</div>