---
import WhatsApp from "../../assets/icons/IcBaselineWhatsapp.astro"
import Email from "../../assets/icons/PhEnvelope.astro"
---

<div class="contactContainer section" id="contact">
  <h3>Contacto</h3>
  <div class="contact">
      <div>
          <!-- <TfiEmail class="mail"/> -->
           <!-- <i class="devicon-gmail-plain text-3xl"></i> -->
            <Email class="w-8 h-8"/>
          <h4>Email</h4>
          <h5>agustintern@gmail.com</h5>
      </div>
      <div>
          <WhatsApp class="w-8 h-8"/>
          
          <h4>Número / Whatsapp</h4>
          <h5>381-5307732</h5>
      </div>
  </div>
</div>