<div class="educationContainer section" id="education">
  <h3>Educación</h3>
  <div class="education">
      <div>
          <h4>Henry</h4>
          <!-- <img src={titleHenry} alt="titulo de henry" /> -->
      </div>
      <div>
          <h4>Apdes Pucará</h4>
          <!-- <img src={titleHPucara} alt="titulo pucara" /> -->
      </div>
  </div>
</div>