---
import jackCavernicola from "../../assets/images/jackCavernicola.png";
import jackCavernicola2 from "../../assets/images/jackCavernicola2.png";
import Romagnano from "../../assets/images/Captura de Romagnano KCC (Italia).png";
import Nanjing from "../../assets/images/Captura Nanjing North (China).png";
---

<div class="mt-28" id="workingExperience">
  <h3 class="text-4xl mb-12 pl-3 font-bold">Working Experience</h3>
  <div class="px-3">
    <h4 class="text-2xl font-bold">DL Consultores</h4>
    <h5 class="text-zinc-400 mt-[2px] mb-2">02/2024 - Present</h5>
    <p class="whitespace-pre-line text-lg">Development of web interfaces for the different factories of Kimberly Clark Corporation (KCC) around the world. We work in collaboration with international teams mainly from India and the United States. 
      Later, I started working as a SAP Functional Consultant, also for the Kimberly Clark client.</p>
  </div>
  <div class="px-3 mt-12">
    <h4 class="text-2xl font-bold">Lab 9 Agencia Digital</h4>
    <h5 class="text-zinc-400 mt-[2px] mb-2">03/2023 - 08/2023</h5>
    <p class="whitespace-pre-line text-lg">I was part of the team responsible for the FrontEnd development of an e-commerce for a hardware products company, Jack Cavernícola.</p>
  </div>
  <!-- <div>
    <h4 class="mb-3 mt-10 font-bold">DL Consultores | 02/2024 - Actualidad</h4>
    <p>En <a target="_blank" class="text-blue-600 underline hover:text-orange-500" href="https://dlconsultores.com.ar ">DL Consultores</a> formo parte de un equipo encargado del desarrollo de interfaces para distintas fábricas de <a target="_blank" class="text-blue-600 underline hover:text-orange-500" href="https://www.kimberly-clark.com/es-us">Kimberly Clark Corporation (KCC)</a> alrededor del mundo, colaborando con equipos internacionales principalmente de India y Estados Unidos</p>
    <div class="flex gap-3 w-full flex-wrap mt-8">
      <img src={Romagnano.src} alt="captura de pantalla del eccomerce" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
      <img src={Nanjing.src} alt="captura de pantalla del eccomerce" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
    </div>
  </div> 
  <div>
    <h4 class="mb-3 mt-10 font-bold">Lab9 Agencia Digital | 03/2023 - 08/2023</h4>
    <p>Durante mi tiempo en <a target="_blank" class="text-blue-600 underline hover:text-orange-500" href="https://lab9.co/es/" target="_blank">Lab9</a>, estuve trabajando como FrontEnd developer. Fui parte de un equipo encargado del desarrollo de un ecommerce para una empresa de productos de ferretería llamada Jack Cavernícola. Actualmente, lo siguen desarrollando y no se encuentra en producción.</p>
    <div class="flex gap-3 w-full flex-wrap mt-8">
      <img src={jackCavernicola2.src} alt="captura de pantalla del eccomerce Jack Cavernicola" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
      <img src={jackCavernicola.src} alt="captura de pantalla del eccomerce Jack Cavernicola" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
    </div>
  </div> -->
  
</div>