---
import jackCavernicola from "../../assets/images/jackCavernicola.png";
import jackCavernicola2 from "../../assets/images/jackCavernicola2.png";
---

<div class="mt-10" id="workingExperience">
  <h3 class="text-2xl font-bold">Experiencia laboral</h3> 
  <div>
    <h4 class="mb-3 mt-10 font-bold">Lab9 Agencia Digital | 03/2023 - 08/2023</h4>
    <p>Durante mi tiempo en <a class="text-blue-600 underline hover:text-orange-500" href="https://lab9.co/es/" target="_blank">Lab9</a>, estuve trabajando como FrontEnd developer. Fui parte de un equipo encargado del desarrollo de un ecommerce para una empresa de productos de ferretería llamada Jack Cavernícola. Actualmente, lo siguen desarrollando y no se encuentra en producción.</p>
    <div class="flex gap-3 w-full flex-wrap mt-8">
      <img src={jackCavernicola2.src} alt="captura de pantalla del eccomerce" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
      <img src={jackCavernicola.src} alt="captura de pantalla del eccomerce" class="h-[300px] border border-gray-400 object-scale-down rounded-[8px] min-w-[300px] flex-1 bg-gray-[rgb(248, 248, 248)]"/>
    </div>
  </div>
</div>