---
// import About from "../components/customs/about.astro";
import Education from "../../components/customs/education.astro";
import WorkingExperience from "../../components/customs/workingExperience.astro";
import ProyectsEn from "../../components/customs/proyectsEn.astro";
import Technologies from "../../components/customs/technologies.astro";
import Contact from "../../components/customs/contact.astro";
import Layout from "../../components/layout/layout.astro";
import About from "../../components/customs/about.astro";
import WorkingExperienceEn from "../../components/customs/workingExperienceEn.astro";

---

<Layout title="Agustín José Terán" lang="en">

		<About lang="en"/>
		<!-- <Education /> -->
		<ProyectsEn />
		<WorkingExperienceEn />
		<Technologies lang="en"/>
		<Contact lang="en"/>
		 <!-- <h1 class="text-3xl text-center mt-10">En desarrollo...</h1> -->
</Layout>
