---
import EEUU from "../../assets/icons/EEUU.astro"
import Spain from "../../assets/icons/Spain.astro"
---

<!-- <div class="max-w-3xl right-0 mx-auto fixed bg-[#fffc] w-full left-0 border-t border-gray-500 py-2 px-3 bottom-0 z-50">
  <ul class="flex flex-wrap gap-5 text-bold justify-center">
      <li class="hover:text-orange-500"><a href="#about">Sobre Mí</a></li>
      <li class="hover:text-orange-500"><a href="#education">Educación</a></li>
      <li class="hover:text-orange-500"><a href="#workingExperience">Exp. Laboral</a></li>
      <li class="hover:text-orange-500"><a href="#proyects">Proyectos</a></li>
      <li class="hover:text-orange-500"><a href="#technologies">Tecnologias</a></li>
      <li class="hover:text-orange-500"><a href="#contact">Contacto</a></li>
  </ul>
</div> -->

<div class="flex justify-end mt-3 gap-3 px-10">
  <!-- <ul class="flex flex-wrap gap-5 text-bold justify-center">
      <li class="hover:text-orange-500"><a href="#about">Sobre Mí</a></li>
      <li class="hover:text-orange-500"><a href="#education">Educación</a></li>
      <li class="hover:text-orange-500"><a href="#workingExperience">Exp. Laboral</a></li>
      <li class="hover:text-orange-500"><a href="#proyects">Proyectos</a></li>
      <li class="hover:text-orange-500"><a href="#technologies">Tecnologias</a></li>
      <li class="hover:text-orange-500"><a href="#contact">Contacto</a></li>
  </ul> -->
  <a href="/en">
    <EEUU class="size-8 cursor-pointer hover:opacity-50"/>
  </a>
  <a href="/">
    <Spain class="size-8 cursor-pointer hover:opacity-50"/>
  </a>
</div>