---
import About from "../components/customs/about.astro";
import Education from "../components/customs/education.astro";
import WorkingExperience from "../components/customs/workingExperience.astro";
import Proyects from "../components/customs/proyects.astro";
import Technologies from "../components/customs/technologies.astro";
import Contact from "../components/customs/contact.astro";
import Nav from "../components/layout/nav.astro";
import "../assets/styles/index.css";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="max-w-3xl mx-auto">
		<About />
		<Education />
		<WorkingExperience />
		<Proyects />
		<Technologies />
		<Contact />
		<Nav />
	</body>
</html>
